<div class="menubar-area style-5 footer-fixed rounded-0">
    <div class="toolbar-inner menubar-nav">
        <a href="/" class="nav-link <%= activePage === 'home' ? 'active' : '' %>">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
        </a>
        <a href="/arbitrar" class="nav-link <%= activePage === 'arbitrar' ? 'active' : '' %>">
            <i class="fa-solid fa-box"></i>
            <span>Categories</span>
        </a>
        <a href="/refs" class="nav-link <%= activePage === 'ref' ? 'active' : '' %>">
            <i class="fa-solid fa-heart"></i>
            <span>Refs</span>
        </a>
         
        <a href="/profile" class="nav-link <%= activePage === 'profile' ? 'active' : '' %>">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
        </a>
    </div>
</div>